body {
    background-color: #C1C1C1;
}

#title {
    text-align: center;
}

#holder {
    display:flex;
    margin: auto;
    width: 1200px;
    font-size: 18px;
    flex-direction: column;
}

h2 {
    text-align: center;
}

.navbar {
    overflow: visible;
    background-color: #333;
    height: 55px;
    position: fixed;
    width: 99.15%;
}
  
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.dropdown {
    float: left;
    overflow: hidden;
}
  
#dropdown2 #dropbtn2 {  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-size:25px;
    margin-left: 200px;
    position: absolute;
}
  
#dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 200px;
    margin-top: 55px;
}

#dropdown3 #dropbtn3 {  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-size:25px;
    margin-left: 400px;
    position: absolute;
}
  
#dropdown-content3 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 400px;
    margin-top: 55px;
}

#dropdown4 #dropbtn4 {  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-size:25px;
    margin-left: 600px;
    position: absolute;
}
  
#dropdown-content4 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 600px;
    margin-top: 55px;
}

#dropdown5 #dropbtn5 {  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-size:25px;
    margin-left: 800px;
    position: absolute;
}
  
#dropdown-content5 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 800px;
    margin-top: 55px;
}

#dropdown6 #dropbtn6 {  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-size:25px;
    margin-left: 1000px;
    position: absolute;
}
  
#dropdown-content6 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 1000px;
    margin-top: 55px;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
#dropdown2:hover #dropdown-content2 {
    display: block;
}

#dropdown3:hover #dropdown-content3 {
    display: block;
}

#dropdown4:hover #dropdown-content4 {
    display: block;
}

#dropdown5:hover #dropdown-content5 {
    display: block;
}

#dropdown6:hover #dropdown-content6 {
    display: block;
}

#random {
    border: none;
    outline: none;
    color: white;
    padding: 13px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-size:25px;
    margin-left: 80%;
}

#space {
    height: 44px;
}